body {
	border: 0;
	padding: 0;
	margin: 0;
}
#header {
	background: #1E389E url(../img/head.png) no-repeat;
	height: 200px;
	
	box-shadow: black 0px 0px 9px 2px;
	-webkit-box-shadow: black 0px 0px 9px 2px;
	-moz-box-shadow: black 0px 0px 9px 2px;
}

#header ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#header ul > li {
	float: left;
	margin-left: 5px;
}
