/************************************************************
 Global stuff
 ************************************************************/
body
{
	background-color:	#ffffff;
	margin:				0px;
}

table
{
	border-left:		1px solid #393f42;
	border-top:			1px solid #393f42;
}

td
{
	border-bottom:		1px solid #393f42;
	border-right:		1px solid #393f42;
	padding:			4px;
}

tr
{
	vertical-align:		top;
}

/************************************************************
 Page header
 ************************************************************/

table.header
{
	background-color:	#6d787e;
	border:				0;
	font-family:		sans-serif;
	height:				80px;
	width:				100%;
}

a.tabon
{
	-moz-border-radius-topleft:		5px;
	-moz-border-radius-topright:	5px;
	background-color:	#cbdde9;
	color:				#393f42;
	padding:			3px;
	text-decoration:	none;
}

a.taboff
{
	-moz-border-radius-topleft:		5px;
	-moz-border-radius-topright:	5px;
	background-color:	#a9B8c2;
	color:				#393f42;
	padding:			3px;
	text-decoration:	none;
}

td.lheader
{
	border:				0;
	color:				#d7d9b4;
	font-size:			18pt;
	font-weight:		bold;
	padding-left:		10px;
	width:				300px;
}

td.rheader
{
	border:				0;
	padding-right:		20%;
	padding-bottom:		0px;
	text-align:			right;
	vertical-align:		bottom;
}

/************************************************************
 Body
 ************************************************************/

div.body1
{
	margin-left:		5%;
	margin-right:		5%;
	margin-top:			10px;
	width:				90%;
}

div.body2
{
	width:				90%;
}

/************************************************************
 Overview page
 ************************************************************/

table.overview
{
	font-family:		sans-serif;
	font-size:			10pt;
	width:				100%;
}

td.overviewheader
{
	border:				0;
	font-weight:		bold;
}

/************************************************************
 Submit page
 ************************************************************/

table.submit
{
	border:				0;
	width:				100%;
}

td.submitleft
{
	border:				0;
	font-weight:		bold;
	width:				150px;
}

span.submitnotes
{
	font-weight:		normal;
	font-style:			italic;
}

td.submitright
{
	border:				0;
}

/************************************************************
 Output page
 ************************************************************/

table.output
{
	font-family:		sans-serif;
	font-size:			10pt;
}

td.outputheader
{
	border:				0;
	font-weight:		bold;
}


/************************************************************
 Stats page
 ************************************************************/

div.graph
{
	height:				300px;
	text-align:			right;
	vertical-align:		bottom;
	width:				100%;
}

div.graphtitle
{
	margin-top:			10px;
	text-align:			right;
	width:				100%;
}
